/********* Importando fonts **********/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/********* Padrão de todas as páginas *********/
*{
    padding: 0;
    border: 0;
    margin: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
}
