/********* Importando fontes **********/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Padronização dos navegadores */
* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

/* smartphone portrait */
/* Layout */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

/* Cabeçalho */
header {
    height: 80px;
    border-bottom: 2px solid #a9a9a9;
}

#logo {
    float: left;
    margin: 10px 0px 0px 10px;
}

#logo img {
    width: 270px; /* 75% de 360px */
    height: 60px; /* 75% de 80px */
}

nav {
    float: right;
}

#check {
    display: none;
}

#mobile {
    font-size: 3em;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    background-color: #343538;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: -100%;
    transition: all 0.5s;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
}

#check:checked ~ ul {
    left: 0px;
}

footer {
    background-color: #343538;
    color: #d3d3d3;
    padding: 30px 0px 30px 0px;
    text-align: center; /* centralização do texto */
    font-size: 0.875em;
}

/*************** Media Queries ***************/
/* smartphone landscape */
@media (min-width: 576px) {
      .Layout{
          max-width: 540px;
          margin: 0 auto; /* centralizar o bloco no dispositivo */
      }
}

/* tablet portrait */
@media (min-width: 768px) {
    .Layout {
        max-width: 720px;
    }
    
    footer {
        font-size: 1em;
    }
}

/* tablet landscape ou desktop antigo */
@media (min-width: 992px) {
    .Layout {
        max-width: 960px;
    }

    /*modificação do cabeçalho e menu*/
    header {
        height: 100px;
    }

    #logo img {
        width: 100%;
        height: 100%;
    }

    #mobile {
        display: none;
    }

    nav ul {
        background-color: #ffffff;
        position: static;
        height: auto;
        margin-top: 15px;
    }

    nav ul li {
        display: inline-block;
        border: 0;
    }

    nav ul li a {
        color: #343538;
    }


}

/* notebook ou desktop */
@media (min-width: 1200px) {
     footer {
        padding: 40px 0px 40px 0px;
     }
}