/*
    Folha de estilo do site one page HTML5 e CSS3
    @author Professor José de Assis
    joseassis.com.br
*/

/* Importação (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* Layout */
.Container {
    margin: 0 auto;   
}

.Flex {
    display: flex;
    justify-content: space-between;   
}

/* topo do site */
#topo {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Cabeçalho */
header {
    height: 60px;
}

#logo img {
    width: 128px;
    height: 128px;
}

#check {
    display: none;
}

label {
    font-size: 3em;
    padding-right: 15px;
}

nav ul {
    list-style: none;
    background-color: #343538;
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}

#check:checked ~ ul {
    right: 0;
}

nav ul li {
    padding: 20px;
    border-bottom: 1px solid #a9a9a9;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {
    /* Layout */
    .Container {
        max-width: 540px;
    }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {
    /* Layout */
    .Container {
        max-width: 720px;
    }
}

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {
    /* Layout */
    .Container {
        max-width: 960px;
    }
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {
    /* Layout */
    .Container {
        max-width: 1140px;
    }
    
    /* Cabeçalho */
    header {
        height: 120px;
    }
    
    #logo img {
        width: 189px;
        height: 189px;
        margin-top: 30px;
    }

    label {
        display: none;
    }

    nav ul {
        position: static;
        height: auto;
        background-color: transparent;
        margin-top: 50px;
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: #343538;
    }

    nav ul li a:hover {
        color: #c00000;
    }

}
