/* Variáveis */
:root {
  --branco: #fff;
  --cinzaClaro: #e8e8e8;
  --cinzaMedio: #a1a1a1;
  --cinzaEscurobkp: #434343;
  --cinzaEscuro: #343538;
  --laranja: #E44D26;
  --preto: #000;
}

/* CSS Reset */
* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* Layout */
.Container {
  margin: 0 auto;
}

.Flex,
.Flex2,
.Flex3,
.Flex4,
.Flex5,
.Flex6 {
  display: flex;
}

.Flex {
  justify-content: space-between;
}

.Flex2 {
  align-items: center;
}

.Flex3,
.Flex6 {
  flex-direction: column;
}

.Flex4 {
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.Flex5 {
  flex-direction: column-reverse;
}

.Flex6 {
  justify-content: space-around;
}

/* Botão */
.Botao {
  text-decoration: none;
  color: var(--branco);
  font-size: 1.3rem;
  font-weight: 700;
  background-color: var(--laranja);
  padding: 10px 40px;
  border-radius: 25px;
}

/* topo do site */
#topo {
  position: fixed;
  right: 10px;
  bottom: 10px;
}

/* Cartões */
.Card {
  margin-top: 25px;
  width: 340px;
  height: 520px;
  background-color: var(--cinzaClaro);
  border: 1px solid var(--cinzaMedio);
  border-radius: 25px;
  text-align: center;
}

.Card img {
  border-radius: 25px 25px 0px 0px;
}

.Card h3 {
  margin-top: 15px;
}

.Card p {
  text-align: left;
  color: var(--cinzaEscuro);
  padding: 10px 30px 50px 30px;
}

.Card a {
  padding: 10px 100px;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Cabeçalho */
header {
  height: 60px;
}

#logo img {
  width: 195.8px;
  height: 122.6px;
  margin-top: 10px;
}

#check {
  display: none;
}

label {
  font-size: 3rem;
  position: fixed;
  top: 5px;
  right: 15px;
  color: rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  background-color: rgba(52, 53, 56, 0.95);
  height: 100vh;
  position: fixed;
  top: 60px;
  right: -65%;
  width: 65%;
  transition: all 0.5s;
}

#check:checked~ul {
  right: 0;
}

nav ul li {
  padding: 20px;
  border-bottom: 1px solid var(--cinzaMedio);
  text-align: right;
}

nav ul li a {
  text-decoration: none;
  color: var(--branco);
}

/* Destaque */
main {
  height: 45vh;
  background: url(img/banner2.jpg);
  background-size: cover;
  background-position: center;
  color: var(--branco);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

main h1 {
  font-size: 3rem;
  font-weight: 900;
  text-shadow: 0px 5px 10px var(--cinzaEscuro),
    0px 10px 10px rgba(0, 0, 0, 0.15),
    0px 15px 15px rgba(0, 0, 0, 0.1),
    0px 20px 20px rgba(0, 0, 0, 0.1);
  margin: 10px 0px;
}

main h2 {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--preto);
  margin-bottom: 30px;
}

/* Sobre */
#sobre {
  padding: 50px 0px;
  background: url(img/background.png);
  background-size: cover;
  background-position: center;
}

#destaqueSobre {
  display: none;
}

#textoSobre {
  color: var(--branco);
  padding: 0px 10px;
}

#textoSobre h2 {
  margin-bottom: 10px;
}

.TopicosSobre {
  margin-top: 20px;
}

.TopicosSobre img {
  margin-right: 10px;
}

/* One page */
#onepage {
  padding: 50px 10px;
}

#onepage h2 {
  margin-bottom: 10px;
}

#onepage p {
  margin-bottom: 25px;
}

#video iframe {
  width: 340px;
  height: 191px;
  border: 0;
}

/* Wireframe */
#wireframe {
  padding: 50px 0px;
  background: url(img/background.png);
  background-size: cover;
  background-position: center;
}

#wireframe a {
  border: 2px solid var(--branco);
}

#textoWire {
  color: var(--branco);
  padding: 0px 10px;
}

#textoWire h2 {
  margin-bottom: 10px;
}

#textoWire p {
  margin-bottom: 40px;
}

#textoWire span {
  display: none;
}

#qrcode {
  display: none;
}

/* Conteúdo */
#conteudo {
  padding: 50px 0px;
}

#conteudo h2 {
  margin-bottom: 25px;
  text-align: center;
}

#todos {
  margin-top: 50px;
  text-align: center;
}

#todos a {
  text-decoration: none;
  color: var(--preto);
  font-weight: 700;
  font-size: 1.25rem;
}

/* Rodapé */
address {
  padding: 35px 10px 50px 10px;
  background: url(img/background2.png);
  background-size: cover;
  background-position: center;
  color: var(--branco);
}

address a {
  text-decoration: none;
  color: var(--branco);
}

address img {
  padding-top: 15px;
}

#iconeLocal {
  display: none;
}

#dados {
  margin: 30px 0px 15px 0px;
}

#googleMaps {
  display: none;
}

footer {
  padding: 50px 0px;
  background-color: var(--cinzaEscuro);
  font-size: 0.875rem;
  color: var(--branco);
  text-align: center;
}

footer a {
  text-decoration: none;
  color: var(--branco);
}

#social {
  margin-bottom: 25px;
}

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px) {

  /* Layout */
  .Container {
    max-width: 540px;
  }

  /* Destaque */
  main {
    height: 70vh;
  }

  /* One page */
  #video iframe {
    width: 560px;
    height: 315px;
  }

  /* Rodapé */
  .Flex5 {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #social {
    margin: 0;
  }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px) {

  /* Layout */
  .Container {
    max-width: 720px;
  }

  /* Destaque */
  main {
    height: 35vh;
  }
}

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px) {

  /* Layout */
  .Container {
    max-width: 960px;
  }
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px) {

  /* Layout */
  .Container {
    max-width: 1140px;
  }

  /* Cabeçalho */
  header {
    height: 135px;
  }

  #logo img {
    width: 277.3px;
    height: 173.6px;
    margin-top: 45px;
  }

  label {
    display: none;
  }

  nav ul {
    position: static;
    width: 100%;
    height: auto;
    background-color: transparent;
    margin-top: 40px;
  }

  nav ul li {
    float: left;
    border: 0;
  }

  nav ul li a {
    color: var(--cinzaEscuro);
  }

  nav ul li a:hover {
    color: var(--laranja);
  }

  /* Destaque */
  main {
    height: 50vh;
  }

  main h1 {
    font-size: 5rem;
    margin: 0;
  }

  main h2 {
    font-size: 1.6rem;
    font-weight: 800;
    color: var(--branco);
    text-shadow: 0px 5px 10px var(--preto),
      0px 10px 10px rgba(0, 0, 0, 0.15),
      0px 15px 15px rgba(0, 0, 0, 0.1),
      0px 20px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
  }

  /* Sobre */
  #sobre {
    background-attachment: fixed;
  }

  #destaqueSobre {
    display: inline;
  }

  #destaqueSobre img {
    border-radius: 50%;
    margin-right: 50px;
  }

  /* One page */
  .Flex3 {
    flex-direction: row;
    align-items: center;
  }

  /* Wireframe */
  #wireframe {
    background-attachment: fixed;
  }

  #wireframe span {
    display: inline;
  }

  #qrcode {
    display: inline;
  }

  #qrcode img {
    width: 225px;
    height: 225px;
  }

  /* Rodapé */
  .Flex6 {
    flex-direction: row-reverse;
  }

  address {
    padding-top: 50px;
  }

  #iconeLocal {
    display: inline;
  }

  #iconeMapa {
    display: none;
  }

  #googleMaps {
    display: inline;
  }
}

/* PC Full HD >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1400px) {

  /****** Layout ******/
  .container {
    max-width: 1360px;
  }

  /* Destaque */
  main h1 {
    font-size: 7.5rem;
  }

  main h2 {
    font-size: 2.5rem;
  }
}