/*
    Folha de estilo do site one page HTML5 e CSS3
    @author Professor José de Assis
    joseassis.com.br
*/

/* Importação (Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* CSS Reset */
*{
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

/* Layout */
.Container {
    margin: 0 auto;
    background-color: #7f0;
}

/* Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* Smartphone Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 576px){
    body{
        background-color: #0ff;        
    }
    /* Layout */
    .Container {
        max-width: 540px;
    }
}

/* Tablet Portrait >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 768px){
    body{
        background-color: #ff0;
    }
    /* Layout */
    .Container {
        max-width: 720px;
    }
}

/* Tablet Landscape >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 992px){
    body{
        background-color: #ff6600;
    }
    /* Layout */
    .Container {
        max-width: 960px;
    }
}

/* PC >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media (min-width: 1200px){
    body{
        background-color: #f00;
    }
    /* Layout */
    .Container {
        max-width: 1140px;
    }
}
